.App {
  text-align: left;
  font-family: Verdana, sans-serif;
}

.App-header {
  background-color: #273c75;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

hr {
  border-top: 1px solid #8c8b8b;
}

input {
  width: 80%;
  padding: 12px 5px;
  left: 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: large;
  outline: none;
}

input:focus {
  border: 1px solid #e1b12c;
}

.inputContainer, .outputContainer {
  background-color: #192a56;
  width: 80%;
  margin: 5rem 0;
  padding: 5rem 5rem;
  border: 1px solid #192a56;
  border-radius: 15px;
  height: fit-content;
}

.inputLegend {
  font-size: large;
  text-align: left;
}

.inputBox {
  margin: 0 0 1rem 1rem;
  border: 1px solid #192a56;
  border-radius: 15px;
  padding: 0;
  background-color: #192a56;
  color: #34495e;
}

.validationMsg {
    font-size: small;
    margin: 0;
}

button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}


.info { color: #e1b12c}

.success { color: #2ecc71}

.error { color: #e74c3c}
